body {
  text-align: center;
  background-color: #F7E967
}



.message-list {
  padding: 20px;
}
.nav-bar a {
  text-decoration: none;
  color: #F7E967;
  font-family: "Verdana", sans-serif;

}
.nav-bar {
  display: flex;
  background-color: #04BFBF;
  justify-content: space-around;

}
.nav-links {

}

h1 {
  color: #04BFBF;
  font-size: 350%;
  font-family: "Verdana", sans-serif;
}

.message {
  color: #black;
  margin: 10px;
  padding: 10px;
  border: 2px solid #04BFBF;
  border-radius: 5px;
  font-family: "Verdana", sans-serif;

}

.time {
    color: #588F27;
  font-family: "Verdana", sans-serif;
}

.date {
  color: #588F27
}

.postId {
  display: none;
  font-family: "Verdana", sans-serif;
}

img {
    height: 350px;

}
