body {
  text-align: center;
  background-color: #F7E967
}



.message-list {
  padding: 20px;
}
.nav-bar a {
  text-decoration: none;
  color: #F7E967;
  font-family: "Verdana", sans-serif;

}
.nav-bar {
  display: flex;
  background-color: #04BFBF;
  justify-content: space-around;

}
.nav-links {

}

h1 {
  color: #04BFBF;
  font-size: 350%;
  font-family: "Verdana", sans-serif;
}

.message {
  color: #black;
  margin: 10px;
  padding: 10px;
  border: 2px solid #04BFBF;
  border-radius: 5px;
  font-family: "Verdana", sans-serif;

}

.time {
    color: #588F27;
  font-family: "Verdana", sans-serif;
}

.date {
  color: #588F27
}

.postId {
  display: none;
  font-family: "Verdana", sans-serif;
}

img {
    height: 350px;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputbox {
  display: block;
  justify-content: center;
  padding: 15px;
}

.likeButton {
  background-color: #04BFBF;
    border: none;
    color: #CAFCD8;
    padding: 5px 15px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 137px;
    margin: 0 auto;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   position:;

}
.showNextPost {
  background-color: #04BFBF;
    border: none;
    color: #CAFCD8;
    padding: 5px 15px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 137px;
    margin: 0 auto;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   position:;

}
.likeButton:hover {
    background-color: #588F27;
    color: #F7E967;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

.showNextPost:hover {
    background-color: #588F27;
    color: #F7E967;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

.attendingimage {
    width: 110px;
    height: auto;
}
